{% extends "explore/layout.html" %}
{% load static %}
    {% block title %}
        قیمت املاک محلات شهر تهران
    {% endblock %}
    
    
    {% block main %}
    <div class=" main ">
        <div class="container my-5 ">
            <h2 class="text-center mb-4">ارتباط با ما</h2>
            <form class="p-4 shadow rounded continer" action="{% url 'contactus' %}" method="post">{% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">نام </label>
                    <input type="text" class="formm form-control" id="name" name="name" placeholder="نام خود را وارد کنید" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">ایمیل</label>
                    <input type="email" class="formm form-control" id="email" name="email" placeholder="ایمیل خود را وارد کنید" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">پیام</label>
                    <textarea class="formm form-control" id="message" name="massage" rows="4" placeholder="پیام خود را بنویسید" required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btnn btn btn-primary w-100 ">ارسال پیام</button>
                </div>
                <div style="justify-content:center;">
                    {% if m %}{{ m }}{% endif %}
                </div>
            </form>
        </div>
    </div>  
    {% endblock %}