{% extends "explore/layout.html" %}
{% load static %}
    {% block title %}
        قیمت املاک محلات شهر تهران
    {% endblock %}
    
    
    {% block main %}
    <div class="main">
        <div class="map">

            

        </div>
        <div class="dashboard">
            <div class="subdash">

                

            </div>
            <div class="subdash">

                

            </div>
            <div class="subdash">

                
                
            </div>
        </div>
        <div class="control">


        </div>
    </div>  
    {% endblock %}