{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}
{% load static %}

{% block title %} به‌روزرسانی داده‌ها {% endblock %}

{% block content %}
<div class="container" dir="rtl">
    <form id="update-form" method="post">
        {% csrf_token %}
        <p class="description">
            جهت به‌روزرسانی داده‌ها در کاربری‌های مختلف، گزینه مورد نظر را انتخاب کرده و روی دکمه به‌روزرسانی کلیک کنید.
        </p>

        <div class="checkbox-group">
            <ul class="checkbox-list">
                <li>
                    <label><input type="checkbox" name="land_typ" value="res-buy">
                        خرید و فروش مسکونی (آخرین به‌روزرسانی: {{ lastupdateRB }} - تعداد نمونه‌های موجود: {{ count_res_buy }})
                    </label>
                </li>
                <li>
                    <label><input type="checkbox" name="land_typ" value="res-rent">
                        رهن و اجاره مسکونی (آخرین به‌روزرسانی: {{ lastupdateRR }} - تعداد نمونه‌های موجود: {{ count_res_rent }})
                    </label>
                </li>
                <li>
                    <label><input type="checkbox" name="land_typ" value="resland-buy">
                        خرید و فروش زمین و ملک کلنگی (آخرین به‌روزرسانی: {{ lastupdateRlB }} - تعداد نمونه‌های موجود: {{ count_resland_buy }})
                    </label>
                </li>
                <li>
                    <label><input type="checkbox" name="land_typ" value="com-rent">
                        رهن و اجاره ملک تجاری (آخرین به‌روزرسانی: {{ lastupdateCR }} - تعداد نمونه‌های موجود: {{ count_com_rent }})
                    </label>
                </li>
                <li>
                    <label><input type="checkbox" name="land_typ" value="com-buy">
                        خرید و فروش ملک تجاری (آخرین به‌روزرسانی: {{ lastupdateCB }} - تعداد نمونه‌های موجود: {{ count_com_buy }})
                    </label>
                </li>
            </ul>
        </div>

        <div class="buttons">
            <button type="submit" class="btn btn-primary">به‌روزرسانی داده‌ها</button>
            <button type="button" onclick="stopTask()" class="btn btn-danger">توقف به‌روزرسانی داده‌ها</button>
        </div>
        <div id="spinner" class="spinner" style="display: none;"></div>
    </form>

    <div class="status-log">
        <div class="table">
            <strong>وضعیت:</strong>
            {% for i in "12345" %}
                <div id="status-{{ i }}"></div>
            {% endfor %}
        </div>

        <div class="table">
            <strong>لاگ:</strong>
            <div id="log"></div>
        </div>
    </div>
</div>
<script>
    window.csrfToken = "{{ csrf_token }}";
    window.statusURL = "{% url 'update' %}";
    window.stopURL = "{% url 'stop_update' %}";
</script>
<script src="{% static 'updateData/js/main.js' %}"></script>

{% endblock %}
